<div class="prose lg:prose-xl">
  <h1>Contact details</h2>
</div>

<div class="w-1/2 mx-auto p-8 border-2 m-8 grid grid-cols-2 gap-4">
  <div>
  <div class="my-4">Name: <%= @contact.name %></div>
  <hr />
  <div class="my-4">Age: <%= @contact.age %></div>
  <hr />
  <div class="my-4">Email: <%= @contact.email %></div>
  </div>
  <div>
    <img src="https://i.pravatar.cc/300" />
  </div>
</div>
